<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Steven Gerrard</string>
		<key>age</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Alisson Becker</string>
		<key>age</key>
		<integer>27</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Nathaniel Clyne</string>
		<key>age</key>
		<integer>29</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Fabinho</string>
		<key>age</key>
		<integer>26</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Virgil van Dijk</string>
		<key>age</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Georginio Wijnaldum</string>
		<key>age</key>
		<integer>29</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Dejan Lovren</string>
		<key>age</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>James Milner</string>
		<key>age</key>
		<integer>34</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Naby Keita</string>
		<key>age</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Roberto Firmino</string>
		<key>age</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Sadio Mane</string>
		<key>age</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Mohamed Salah</string>
		<key>age</key>
		<integer>27</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Joe Gomez</string>
		<key>age</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Adrian</string>
		<key>age</key>
		<integer>33</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jordan Henderson</string>
		<key>age</key>
		<integer>29</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Oxlade-Chamberlain</string>
		<key>age</key>
		<integer>26</integer>
	</dict>
</array>
</plist>
